html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.home-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.me-summary {
  background-color: #1C121F;
  color: #EEFFE0;
}

.me-summary h1 {
  font-size: 1.4em;
}

.me-summary h1 strong {
  font-size: 1.8em;
  color: #FE6347;
}

@media (width >= 70em) and (orientation: landscape) {
  .home-layout {
    flex-direction: row;
  }
  .me-summary {
    height: 100%;
    width: 20em;
  }
}
