@use "vars.scss" as v;

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: v.$light;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
}
