/// Orange accent color
$orange: #FE6347;
/// Darkest color, almost black
$dark: #1C121F;
/// Lightest color, almost white
$light: #EEFFE0;
/// Primary theme color, purple
$primary: #6A397B;
/// Darker variant of primary color
$primary-dark: #402A47;
/// Secondary theme color, green
$secondary: #00675B;
/// Darker variant of secondary color
$secondary-dark: #005348;
/// Color to fill empty space
$void: #EFFFF6;
