$orange: #FE6347;
$dark: #1C121F;
$light: #EEFFE0;

$summary-bar-width: 400px;
$decoration-height: 192px;
$decoration-width: 472px;
$stripe-width: 72px;

$max-x-small-width: 580px;
$max-small-width: 1400px;

$max-short-height: 730px;
$max-medium-height: 920px;
