{{ define "head" }}
    {{ $sass_vars := dict }}

    {{ with resources.Get "images/stripe.png" }}
        {{ $rotated := .Process "r90" }}
        {{ $sass_vars = merge $sass_vars
            (dict
                "stripe_vert_url" .RelPermalink
                "stripe_horiz_url" $rotated.RelPermalink
            )
        }}
    {{ end }}
    {{ with resources.Get "images/decoration.png" }}
        {{ $sass_vars = merge $sass_vars
            (dict
                "decoration_url" .RelPermalink
            )
        }}
    {{ end }}

    {{ $opts := dict "transpiler" "dartsass" "targetPath" "css/home.css" "vars" $sass_vars }}
    {{ with resources.Get "sass/home.scss" | toCSS $opts | minify | fingerprint }}
        <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
    {{ end }}
{{ end }}
{{ define "body" }}
    {{ partial "home/me-summary.html" . }}
    <div class="decoration"></div>
    <div class="stripe"></div>
    <div class="bg"></div>
    {{ partial "home/projects.html" }}
{{ end }}
