$primary: #09b6f1;
$secondary: #f10942;
$dark: #022734;
$light: #d4f3fd;
$black: #010b0e;
$white: #f5fdff;

@import "../../node_modules/bootstrap/scss/bootstrap";

//
// Custom styles
//
//body {
//  background-color: #27414a;
//}

body {
  background-color: $dark;
}

.container {
  background-color: $white;
}
