{{ $icon := .Resources.Get .Params.icon }}
{{ if .Params.isGlobalIcon }}
    {{ $icon = resources.Get .Params.icon }}
{{ end }}
{{ $iconAlt := .Params.iconAlt }}
{{ with $icon }}
    {{ $image := .Resize "200x200 webp drawing" }}
    <div class="project-summary-icon">
        <img
                src="{{ $image.RelPermalink }}"
                {{ with $iconAlt }}
                    alt="{{ T . }}"
                {{ else }}
                    {{ warnf "Missing alt text for icon %s" . }}
                {{ end }}
                data-match-flex-row-height=".project-summary-header"
        />
    </div>
{{ else }}
    {{ if .Params.icon }}
        {{ warnf "Icon not found %s" .Params.icon }}
    {{ end }}
{{ end }}
